/* 
 * 4chan.css
 *
 * pseudophpt/dotfiles
 * 
 * 4chantan theme for 4chan, written from scratch
 * Available under GPLv3
 *
 * (C) pseudophpt 2018
 */


div.reply {
  background: #333333;
  border: none;
  margin: 15px;
  box-shadow: 6px 6px #222222;
  padding: 20px;
  padding-bottom: 15px;
}

.sideArrows,  .fileText, .hide-reply-button, .dateTime, .yotsuba_new .postMenuBtn, .futaba_new .postMenuBtn, .globalMessage, #toggleMsgBtn, .ctrl-wrap, .adg-rects, .extButton.threadHideButton, input[type=checkbox], .middlead,  div#absbot, #footer-links{
  display: none !important;
}

#togglePostFormLink, div.boardBanner > div.boardTitle {
	font-family: Helvetica;
}

input[name=name], input[name=email] {
  border: none;
  margin: 0px;
  height: 30px !important;
}

table.postForm > tbody > tr > td:first-child {
  background-color: #333333;
  border: none;
  color: #eeeeee;
  padding: 10px;
}

table {
  border-spacing: 3px;
}

.navLinks {
  padding: 20px;
}

.expanded-thumb {
  max-width: 100% !important;
}

.postblock {
  color: #eeeeee;
  background: #333333;
  border: none;
}

body {
  color: #eeeeee;
  background: #111111;
  font-smooth: never;
  -webkit-font-smoothing : none;
  font-family: Terminus;
  margin: 30px;
}

div.thread {
    margin: 15px;
    margin-top: 80px;
    margin-bottom: 80px;
}

div.post div.postInfo span.nameBlock span.name {
  color: #eecccc;
}

a.replylink:not(:hover) , .quoteLink, .quotelink, .deadlink, .pageJump a, div.post, a, .button {
  color: #eecccc !important;
  text-decoration: none;
}

hr {
  display: none !important;
}

a:hover {
  color: #ccaaaa !important;
}

div.postInfo span.postNum a {
  color: #aa9999 !important;
}

div.post div.postInfo span.postNum a:hover, .posteruid .hand:hover {
  color: #998888 !important;
}

blockquote > span.quote, span.postertrip, div.post div.postInfo span.subject {
  color: #f22e53 !important;
}

