/* 
 * userChrome.css
 *
 * pseudophpt/dotfiles
 * 
 * Dark-tan theme for firefox, written from scratch
 * Available under GPLv3
 *
 * (C) pseudophpt 2018
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tabbrowser-tab {
  border: none !important;
}

/* Font terminus */
#tab-view-deck {
  font-family: Terminus;
}

/* Newtab button */
.tabs-newtab-button {
  list-style-image: url('data:image/svg+xml;uf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"> <circle cx="8" cy="8" r="4" stroke="gray" stroke-width="1" fill="gray"></circle> </svg>') !important; 
}

.tabs-newtab-button:hover {
  list-style-image: url('data:image/svg+xml;uf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"> <circle cx="8" cy="8" r="4" stroke="white" stroke-width="1" fill="white"></circle> </svg>') !important; 
}

.toolbarbutton-icon {
  background-color: transparent !important;
}

/* Remove border styling */
:root {
  --tab-line-color: none !important;
  --tabs-border: none !important; 
  --tab-min-height: 20px !important;
  --toolbar-bgcolor: #060403 !important;
  --toolbarbutton-border-radius: 0px !important;
}

/* Findbar styling */
.browserContainer > findbar {
  background-color: #2C292A !important;
}

.findbar-find-previous, .findbar-find-next {
  background-color: #3C393A !important;
  background-image: none !important;
  border: none !important;
  border-radius: 0px !important;
}

.findbar-find-previous:hover, .findbar-find-next:hover {
  background-color: #7C797A !important;
  background-image: none !important;
}

.findbar-textbox {
  border: none !important;
  background-color: #2C292A !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}

/* Resize urlbar */
#urlbar {
	margin: 0px !important;
	margin-left: 8px !important;
}

/* Tab color */
#tabbrowser-tabs {
  background-color: #1B1918 !important;
}

/* Remove hover bar */
#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected="true"]) {
  background-color: transparent !important;
}

/* No box shadow around urlbar, background color */
#urlbar {
  box-shadow: none !important;
  background-color: #2B2928 !important;
}

/* No tab ornaments */
.tab-background, .tabbrowser-tab:not([visuallyselected="true"]) {
  border: none !important;
}

.tabbrowser-tab[visuallyselected="true"] {
  font-weight: bold !important;
}

/* Remove separator between urlbar and settings */
#PanelUI-button {
  border: none !important;
}  

/* No cluttering buttons */
#page-action-buttons {
  display: none !important;
}

/* No idetity box */
#identity-box { 
  display: none !important;
}

/* URLBAR same color */
#urlbar {
  background-color: #2B2928 !important;
  border: none !important;
}

/* No icons */
.tab-icon-image {
  display: none !important;
}

.chromeclass-toolbar-additional {
  display: none !important;
}

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar) {
  display: none !important;
}

